#comments {
    width:100%;
    margin:0;
    padding:0;
    z-index:0;}

@media only screen and (min-device-width: 1025px) {
    #gale-content {
        right:20em;}
    
    #comments {
        position:fixed;
        overflow-y:auto;
        right:0;
        width:20em;
        top:1.6em;
        bottom:0;
        -moz-box-shadow: 0px 0px 10px #000;
        -webkit-box-shadow: 0px 0px 10px #000;
        box-shadow: 0px 0px 10px #000;}
}
