#footer {
    width:100%;
    margin:0;
    padding:0;
    z-index:1;
}

@media only screen and (min-device-width: 1025px) {
    #footer {
        width:auto;
        position:fixed;
        overflow:visible;
        left:0px;
        right:0px;
        bottom:0px;
        height:1.6em;}

    #gale-content {
        bottom:1.6em;}
    
    #comments {
        bottom:1.6em;}
}
