#menu-link {
    float:right;
    background-image:url('images/left.gif');
    width:16px;
    height:16px;
    padding:0;
    margin:4px;}
#menu-link:hover {
    float:right;
    background-image:url('images/left-selected.gif');
    width:16px;
    height:16px;
    padding:0;
    margin:4px;
    border:none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color:#AAA;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;}

#menu a.reference {
    text-decoration:none;
    font-size:medium;
    color:#22D;}
#menu a.reference-visited {
    text-decoration:none;
    font-size:medium;
    color:#828;}
#menu a.reference:hover, #menu a.reference-visited:hover {
    text-decoration:underline;}
    
#menu a {
    display:block;}
#menu ul {
    display:block;
    list-style:none;}
#menu {
    width:100%;
    margin:0;
    padding:0;
    z-index:0;}

@media only screen and (min-device-width: 1025px) {
    #menu {
        width:auto;
        position:fixed;
        overflow-y:auto;
        left:0;
        width:15em;
        top:0;
        bottom:0;
        z-index:2;
        background-color:#AAA;
        -moz-box-shadow: 0px 0px 10px #000;
        -webkit-box-shadow: 0px 0px 10px #000;
        box-shadow: 0px 0px 10px #000;}
    
    #gale-content {
        left:15em;}
}