body {
    font-family: "Arial";
    background-color: gray;

}
main {
    background-color: white;
}
.btn span p{
    height: 0px;
    margin: 0px;
    padding: 0px;
}
.btn-small span p {
    width: 200px;
}
.btn-small span p a {
    width: 260px;
    margin-left: -30px;
    color: white;
    display: block;
}
.btn-large span p a {
    width: 100% !important;
    color: white;
    display: inline-block;
}
h2{
    margin-top: 0px;
}
main {
    padding-top: 25px;
}
.btn-large {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
@media screen and (max-width: 780px) {
    .btn-large {
        width: 100%;
        line-height: 30px;
        text-align: center;
        height: 90px;
        margin-bottom: 10px;
        text-transform: none;
    }
    h1 {
        font-size: 36px;
    }
}
.pagination li{
    vertical-align: center;
    line-height: 30px;
    font-size: 18px;
    padding: 0 10px;
}
.pagination li.active{
    background-color: teal;
    color: white;
}
h5 {
    margin-bottom: 30px;
}
#question-progress-bar {
    text-align: center;
    font-weight: bold;
}
.burnout-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    display: none;
}
.burnout-center{
    margin-left: auto;
    width: 90px;
    margin-right: auto;
    margin-top: 10%;
}
.header-text{
    vertical-align: top;
}
.joke-badge{
    position: absolute;
    bottom: 5%;
    right: 5%;
        z-index: 99999;
}
.joke-badge .chip {
    background-color: darkred;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 28px;
    height: 56px;
    width: 56px;
    padding-top: 12px;

}
.joke-badge .chip i {
    margin-left: 5px;
    margin-top: 5px;
}
.result-bad {
    background-color: darkred;
    font-weight: bold;
    color: white;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
