#menu-link {
    float:left;
    background-image:url('images/right.gif');
    width:16px;
    height:16px;
    padding:0;
    margin:0;}
#menu-link:hover {
    float:left;
    background-image:url('images/right-selected.gif');
    width:16px;
    height:16px;
    padding:0;
    margin:0;
    border:none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color:#444;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;}
