<?xml version="1.0" encoding="UTF-8"?>
<gale:repo xmlns="http://www.w3.org/TR/xhtml1/strict"
xmlns:gale="http://gale.tue.nl/adaptation">

<gale:text tag="default" type="creole">The settings for the burnout application can be found here.

<div class="waves-effect waves-light btn btn-small"><i class="material-icons right">settings_backup_restore</i>
<gale:text tag="default" type="creole">
     [[application?plugin=reset-profile|Reset Profile]]
</gale:text>
</div>
</gale:text>

</gale:repo>
